<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Empirische Schul- und Unterrichts&shy;forschung</h1>
        <p>Willkommen auf den Internetseiten der Professur – <br>ein Arbeitsbereich der <a href="https://www.erzwiss.uni-leipzig.de/">Erziehungswissenschaftlichen Fakultät</a> der <a href="https://www.uni-leipzig.de/">Universität Leipzig</a>.</p>
      </header>
       
       <p>Sie sind auf der Suche nach interessanten Lehrveranstaltungen oder planen Ihre Abschlussarbeit im Rahmen Ihres Studiums? Sie interessieren sich für neue und aktuelle Forschungsprojekte oder Publikationen im Bereich der Schul- und Unterrichtsforschung? – <i>Dann sind Sie hier genau richtig!</i><br>
       Auf diesen Seiten erhalten Sie einen umfassenden Einblick in das Studien- und Betreuungsangebot sowie die Forschungsarbeit unserer Abteilung. Bei weiteren Fragen und Anregungen freuen wir uns über eine Kontaktaufnahme!</p>
       
      <ul class="actions">
        <li><a href="mailto:{{ site.email }}" target = "_blank" class="button big">Get in touch!</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/Mandy_ET.jpg" alt="" />
    </span>
  </section>
