<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Empirische Schul- und Unterrichts&shy;forschung</h1>
        <p>Willkommen auf den Internetseiten der Professur</p>
      </header>

      <p> Wir sind ein Arbeitsbereich der <a href="https://www.erzwiss.uni-leipzig.de/">Erziehungswissenschaftlichen Fakultät</a> der <a href="https://www.uni-leipzig.de/">Universität Leipzig</a>.</p>
     
      <p><b>In unserer Forschung möchten wir...</b></p>
        <ul>
          <li>Lehr- und Lernprozesse im schulischen Kontext sichtbar machen</li>
          <li>Einsichten für die Praxis und die Ausbildung von Lehrenden gewinnen</li>
          <li>Methoden und Theorien der empirischen Schul- und Unterrichtsforschung weiterentwickeln</li>
        </ul>
      <p><b>In der Lehre verantworten wir...</b></p>
         <ul>
           <li> das bildungswissenschafte Modul 2 "Praxis- und Studienfeld Schule" (Lehramtsstudium)</li>
           <li>Serminare zu quantitativen und qualitativen Forschungsmethoden</li>
         </ul>
       
       <p><b>Möchten Sie mehr über uns erfahren?</b>Dann finden Sie hier alle wichtigen Informationen! Wir freuen uns über Ihr Interesse.</p>
       
      <ul class="actions">
        <li><a href="mailto:{{ site.email }}" target = "_blank" class="button big">Get in touch!</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/Mandy_ET.jpeg" alt="" />
    </span>
  </section>
