<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Empirische Schul- und Unterrichts&shy;forschung</h1>
      </header>
      <p><b>Willkommen auf den Internetseiten der Professur "Empirische Schul- und Unterrichtsforschung" der <a href="https://www.erzwiss.uni-leipzig.de/">Erziehungswissenschaftlichen Fakultät</a> der <a href="https://www.uni-leipzig.de/">Universität Leipzig</a>.</b></p>
      <p>In unserem Arbeitsbereich arbeiten wissenschaftliche Mitarbeitende, abgeordnete Lehrpersonen und Studierende unter der Leitung von Prof. Dr. Anne Deiglmayr an Forschungsprojekten, Qualifikationsarbeiten und Publikationen.</p>
      <p><b>In unserer Forschung geht es uns darum...</b></p>
        <ul>
          <li>Lehr- und Lernprozesse im schulischen Kontext sichtbar zu machen</li>
          <li>Einsichten für die Praxis und die Ausbildung von Lehrenden zu gewinnen</li>
          <li>Methoden und Theorien der empirischen Schul- und Unterrichtsforschung weiterzuentwickeln</li>
        </ul>
      <p><b>In der Lehre verantworten wir Veranstaltungen im Bereich...</b></p>
         <ul>
           <li>Bildungswissenschaften (Lehramtsstudium)</li>
           <li>quantitativer und qualitativer Forschungsmethoden</li>
         </ul>
       
       <p>Wenn Sie Interesse an unserer Arbeit haben oder in unserem Team mitwirken möchten, dann finden Sie hier alle wichtigen Informationen.</p>
       
      <ul class="actions">
        <li><a href="mailto:{{ site.email }}" target = "_blank" class="button big">Get in touch!</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="#" alt="" />
    </span>
  </section>
